body{
    font-family: Arial, Helvetica, sans-serif;
}

#main-nav{
    background: gray;
}

#main-nav ul{
    padding: 10;
}

#main-nav li{
    list-style-type: none;
}
#main-nav a{
    text-decoration: none;
    color: white;
}

.main-content{
    background-color:lightgray;
    padding:5px;
}

.sidebar{
    background-color:lightgray;
    padding:5px;
}

@media only screen and (min-width: 768px){

    
    .main-header{
        justify-content: center;
    }
    
    #main-nav ul{
        display:flex;
        justify-content: center;
        justify-content: space-between;

    }
    .second-layer{
        display:flex;
        justify-content: space-around;
    }
}
