body{
    background-color: rgb(107, 107, 226);
    font-family: Arial, Helvetica, sans-serif;
}
#nav-toggle div{
    width: 35px;
    height: 5px;
    background-color:black;
    margin: 6px 0;
}
.hidden{
    display:none;
}

/*header*/
h1{
    text-align: center;
    font-size: 30px;
}
#main-nav-items{
    margin:auto;
    border-bottom: 2px solid black;
    width: 1000px;
    height: 50px;
}
#main-nav-items ul{
    list-style-type: none;
    margin: auto;
    padding: 0px;
}
#main-nav-items a{
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 10%;
    padding: 2px;
}

/*content*/
h2{
    text-align: center;
}

#content p{
    position: relative;
    margin:auto;
    text-align: center;
    background-color: rgb(136, 136, 136,.6);
    z-index: 2;
}
#content #ror-pic{
    position:relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
    z-index: 1;
    opacity: 5 5%;
}

@media (min-width: 900px){
    #main-nav-items ul{
        display:flex;
        justify-content: space-around;
    }
    #content p{
        width: 900px;
    }
    #nav-toggle div{
        display: none;
    }
}