body{
    background-color: rgb(107, 107, 226);
    font-family: Arial, Helvetica, sans-serif;
}
#nav-toggle div{
    width: 35px;
    height: 5px;
    background-color:black;
    margin: 6px 0;
}
#add-link{
    font-size: 2em;
    text-decoration: none;
    color: black;
}
#submit-msg{
    font-size: 1em;
    margin: auto;
    margin-right: 100px;
}
.hidden{
    display:none;
}
.transparent{
    opacity: 0;
}
#submit-msg{
    font-size: 1em;
    margin: auto;
    margin-right: 100px;
}

/*header*/
h1{
    text-align: center;
    font-size: 30px;
}
#main-nav-items{
    margin:auto;
    border-bottom: 2px solid black;
    width: 1000px;
    height: 50px;
}
#main-nav-items ul{
    list-style-type: none;
    margin: auto;
    padding: 0px;
}
#main-nav-items a{
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 10%;
    padding: 2px;
}

/*content*/
h2{
    text-align: center;
}
section{
    background-color: rgb(136, 136, 136,.6);
    border: 1px solid black;
    margin-bottom: 15px;
}

section h3{
    padding-left: 10px;
}

section ul{
    list-style-type: none;
}

section li{
    width: 900px;
}

section a{
    text-decoration: none;
    color: black;
}

section img{
    width: 70px;
    height: 70px;
}

#edit-link{
    float: right;
}

#delete-link{
    float: right;
}
#edit-link, #delete-link{
    padding: 10px;
}
#edit-link:hover, #delete-link:hover{
    cursor: pointer;
    color: darkgray;
}

/*form*/
#add-edit-container{
    background-color:deepskyblue;
    padding: 10px;
    width: 700px;
}
label{
    display: block;
}
.inline{
    display: inline;
}
a{
    color: black;
}
span{
    font-size: 2em;
    float: right;
    padding-right: 5px;
}
#team-characters{
    width: 300px;
}
span:hover{
    cursor: pointer;
    color: darkgray;
}

@media (min-width: 900px){
    #main-nav-items ul{
        display:flex;
        justify-content: space-around;
    }
    #items p{
        width: 900px;
    }
    #nav-toggle div{
        display: none;
    }
}
@media (max-width: 900px){
    #main-header{
        margin-bottom: 100px;
    }
    #main-nav-items ul{
        display:flex;
    }
}