header h1{
    text-align: center;
}

body{
    background:rgb(127, 216, 146);
}
body{
    font-family:Arial, Helvetica, sans-serif;
}

/*CONTENT*/
#content{
    background-color:rgb(141, 240, 240);
    border:3px solid rgb(84, 173, 173);
    width: 80%;
    margin:auto;
    text-align: center;
}

#content ul{
    padding-left:0;
}

#content li{
    list-style-type: none;
    background-color: rgb(112, 172, 228);
    border:5px solid rgb(76, 76, 245);
    margin-bottom:15px;
    margin-left:5px;
    margin-right: 5px;
}

/*Projects*/
#projects{
    background-color:rgb(141, 240, 240);
    border:3px solid rgb(84, 173, 173);
    width: 80%;
    margin:auto;
    text-align: center;
}

#projects ul{
    padding-left:0;
}

#projects li{
    list-style-type: none;
    background-color: rgb(112, 172, 228);
    border:5px solid rgb(76, 76, 245);
    margin-bottom:15px;
    margin-left:5px;
    margin-right: 5px;
}

h1{
    color:rgb(47, 79, 108);
}

p{
    color:rgb(31, 102, 33);
}

h2{
    background-color:rgb(112, 172, 228);
    color:rgb(47, 79, 108);
}
h3{
    background-color:rgb(112, 172, 228);
    color:rgb(47, 79, 108);
    font-size: x-large;
}

a{
    text-decoration: none;
    color:black;
}

img{
    width: 300px;
    height: 150px;
}


@media only screen and (min-width: 600px) {
    body{
        background-color: lightblue;
    }

    #content li{
        width:30%;
    }

    #content ul{
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    #projects li{
        width:30%;
    }
    #projects ul{
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}